<h1 class="ml-4">Paniers près de <%= query %></h1>
  <div class="d-flex">
    <div class="index-panier-grid">
      <% paniers_alentour.each  do |panier| %>
      <div class="index-panier-card">
        <div class="index-panier-card-title">
          <h2><%= panier.titre %></h2>
        </div>
        <div class="content-position px-3 py-2">
          <div class="panier-card-content">
            <p><i class="fas fa-carrot"></i> <%= panier.tag_list %></p>
            <p><i class="fas fa-map-marker-alt"></i> <%= panier.adresse %></p>
          </div>
          <div class="booking-btn">
            <a href="#" class="btn btn-primary">Réserver</a>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
