<div class="container col-6">
  <h2 class="text-center">Sign up</h2>
  <div class="d-flex sign-up form">
    <div>
      <img src="https://cdn.dribbble.com/users/1043327/screenshots/2438076/05-_0-00-03-24_.jpg" alt="Panier d'aliments">
    </div>
    <div class="form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
<%= render "devise/shared/links" %>
